<div class="row">

  <div class="small-8 small-push-2 columns">

    <br><br>
      <div class="panel">
        <h3>Update User Information</h3>
        <hr>
        <div class="row">
            <%= render 'form' %>
        </div>
      </div>
    <hr>
    <p class="centerText">Already have an account? <%= link_to "Log in", login_path %>.</p>
    <br><br>
  </div>

</div>