<div class="row">
	<div class="small-12 columns">
		<br>
		<h4> Administrative Dashboard </h4>
		<%= high_chart("revenue", @revenue_chart) %>
	</div>
</div>
<hr>
<div class="row">
	<div class="small-12 columns">
		<%= high_chart("best_items", @best_items) %>
	</div>
</div>
<hr>
<div class="row">
	<div class="small-12 columns">
		<%= high_chart("best_customers", @best_customers) %>
	</div>
</div>