<br>

<div class="row">
  <div class="small-7 columns">
    <h2>About the Chess Warehouse</h2>
    <hr>
    <p>
    	The Chess Warehouse was founded in 1985 by Alfonso Johnson who wanted to share his love of Chess with students across the nation after falling in love with the game in Elementary School. He started by selling some chess supplies to local schools that didn't have access to full stores of chess pieces and boards and taught local children how to play the game. Now, Alfonso owns a store that sells clocks, bags, and other supplies in addition to pieces and boards and is the leading chess supplier to schools across the nation.
    </p>
    <p>
        The Chess Warehouse believes in the importance of scholastic chess.  To help support 
        scholastic chess, we make chess equipment available to schools and other educational 
        organizations at wholesale prices.  This chess equipment is only available to schools; 
        we do not sell to individuals.
    </p>
    <p>
        The Chess Warehouse places a strong focus on quality supplies for schools. Our pieces, boards, clocks, and other chess supplies are made from top-notch quality materials and manufacturers.
    </p>
  </div>
  <div class="small-5 columns">
    <br><br><br><br>
    <%= image_tag 'owner.jpg' %>
    <hr>
    <p><em> Chess Warehouse's owner, Alfonso Johnson, is an avid chess player who first learned how to play chess in elementary school.</em></p>
  </div>

  <p> &nbsp; </p>
  <br>
  <p> &nbsp; </p>

</div>