<br>
<div class="row">
  <div class="small-5 columns">
  <h3>Checkout</h3>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
    <%= render partial: "checkout_items"%>
  </div>
  <div class="small-6 columns">
    <%= render partial: "checkout_form"%>
  </div>
</div>
</div>