<div class="row">

  <div class="small-6 small-push-3 columns">

    <br><br>
      <div class="panel">
        <% if can? :create, :user %>
          <h3>Create User</h3>
        <% else %>
          <h3><strong>Step 2 of 2</strong>: Create an Account</h3>
        <% end %>
        <hr>
        <div class="row">
            <%= render 'new_school_form' %>
        </div>
      </div>
    <hr>
    <p class="centerText">Already have an account? <%= link_to "Log in", login_path %>.</p>
    <br><br>
  </div>

</div>